
#nav_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
}

#nav_menu li {
    flex: 1;
    position: relative;
}

#nav_menu li a {
    display: block;
    text-align: center;
    padding: 0em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}

#nav_menu a.current {
    color: yellow;
}
main {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  padding: 1rem;
}
.left-column {
  flex: 1;
  max-width: 220px;
}

.right-column {
  flex: 3;
}
blockquote {
margin-left: 1.5rem;
  font-style: italic;
  color: #555;
  border-left: 4px solid #ccc;
  padding-left: 1rem;
}
